/* //--------------------- */
/* Hero*/
.hero {
    margin-bottom: 45px;
}
/* set BROWSER=none && npm start*/
/* set BROWSER=chrome && start chrome http://localhost:3000/StoryPage && react-scripts start */
/* set BROWSER=none && npx react-scripts start */
/* //--------------------- */
@media screen and (min-width: 768px) {
    .storyTitle {
        font-family: "Sora", sans-serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 110%;
        letter-spacing: -0.01em;
        color: #000;
    }

    .heroFormater {
        display: flex;
        gap: 6px;
    }

    .autorList {
        display: flex;
        justify-content: space-between;
    }

    .autorDate {
        font-family: "Nunito Sans", sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #000;
    }

    .nameDate {
        font-family: "Nunito Sans", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000;
    }

    .heroButton {
        font-family: "Nunito Sans", sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 150%;
        color: #000;
        border: 1px solid var(--opacity-transparent);
        border-radius: 6px;
        padding: 4px 10px;
        width: 77px;
        height: 32px;
        background: var(--opacity-neutral-darkest-5);
    }

    .heroDiv {
        border-radius: 24px;
        padding: 32px;
        width: 360px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #f2f2f2;
    }

    .saveButton {
        font-family: "Nunito Sans", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #fff;
        background: #4169e1;
        border: 1px solid #4169e1;
        border-radius: 8px;
        padding: 6px 12px;
        width: 354px;
        height: 48px;
    }

    .autorImage {
        border-radius: 24px;
        margin-bottom: 65px;
        margin-top: 5px;
    }
}

/* //--------------------- */
@media screen and (min-width: 1440px) {
    .storyTitle {
        font-size: 56px;
        margin-top: 47px;
        margin-bottom: 35px;
    }

    .heroButton {
        border: 1px solid rgba(255, 255, 255, 0);
    }

    .autorImage {
        border-radius: 34px;
        margin-top: 9px;
        margin-bottom: 92px;
    }

    .autorFix {
        display: flex;
        gap: 25px;
    }

    .saveHistory {
        font-family: "Sora", sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 140%;
        letter-spacing: -0.01em;
        color: #000;
    }

    .saveAvaible {
        font-family: "Nunito Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #000;
    }

    .saveButton {
        font-size: 18px;
    }

    .heroDes {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: var(--color-scheme-2-text);
    }

    .autorDate, .nameDate {
        font-family: var(--font-family);
        font-size: 18px;
        line-height: 150%;
        color: var(--color-scheme-2-text);
    }
}
/* Популярні історії */
@media screen and (min-width: 1440px) {
    .subTitle {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 44px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: var(--color-scheme-1-text);
    }
}
@media screen and (min-width: 1440px) {

}
@media screen and (min-width: 1440px) {

}