.header {
  width: 100%;
  background: #fff;
}

.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

/* ЛОГО */
.logo__block {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__text {
  font-size: 18px;
}

/* НАВІГАЦІЯ */
.header__nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* DESKTOP NAV */
.header__list {
  display: none;
  list-style: none;
  gap: 30px;
}

.header__link {
  text-decoration: none;
  color: #000;
}

/* КНОПКИ */
.header__buttons {
  display: none;
  gap: 12px;
}

.button__link {
  padding: 6px 12px;
  border-radius: 6px;
  text-decoration: none;
}

.button__link:first-child {
  background: #eee;
}

.button__link:last-child {
  background: #4169e1;
  color: #fff;
}

/* ОПУБЛІКУВАТИ */
.header__published {
  background: #4169e1;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  text-decoration: none;
}

/* БУРГЕР */
.burger__btn {
  background: none;
  border: none;
  cursor: pointer;
}

/* МОБІЛЬНЕ МЕНЮ */
.container__div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;

  transform: translateX(-100%);
  transition: 0.3s;
}

.container__div.active {
  transform: translateX(0);
}

/* ===== DESKTOP ===== */
@media (min-width: 1440px) {
  .header__list {
    display: flex;
  }

  .header__buttons {
    display: flex;
  }

  .header__published {
    display: none; 
  }

  .burger__btn {
    display: none;
  }
}